<div class="about">
	<div class="row">

	


		<div class="page-header">	<br>
		   <h1>Welcome to LCIdemo!</h1>
		</div>
		<br>
		<div class="alert alert-info" role="alert">
		    <h2>Are you visiting LCI church for the first time?<h2>
		</div>
		<div class="alert alert-info" role="alert">
			<h2>Are you a member of any LCI church?</h2>
		</div>
		<div class="alert alert-info" role="alert">
			<h2>Have you visited any LCI church apart from your home church?</h2>
		</div>
		<div class="alert alert-info" role="alert">
			<h2>Have you heard about LCI church and planning to visit?</h2>
		</div>
		<div>
		 <br><h2>We are  excited to have you fellowship with us and will also like to hear about your experience. So Sign up and share your thoughts to keep the excitement going. Happy posting!</h2>
	   </div><br><br>
  </div>
</div>
