

<div id="jumb1" class="jumbotron"> 
	<br><br><br><br>
<br><br><br>

</div>

<div class="about">
	
		<div class="page-header">	
		   
		</div>
	
		<div class="alert alert-info" role="alert">
		    <h2>Are you visiting LCI church for the first time?<h2>
		</div>
		<div class="alert alert-info" role="alert">
			<h2>Are you a member of any LCI church?</h2>
		</div>
		<div class="alert alert-info" role="alert">
			<h2>Have you visited any LCI church apart from your home church?</h2>
		</div>
		<div class="alert alert-info" role="alert">
			<h2>Have you heard about LCI church and planning to visit?</h2>
		</div>
		<div class="">
		  <h3>We are  excited to have you fellowship with us and will also like to hear about your experience. So sign up and share your thoughts to keep the excitement alive. Happy posting!</h3>
	   </div> 
  
</div>

