
<div class="container-fluid">
<div id="jumb1" class="pic"> 
	
	<br><br><br><br>
	
	
	

<div class="container-fluid">
<div id="transbox" class="container-fluid">
	<p class="transbox_content">Are you a first time visitor at any LCI church?<br> Are you a member of any LCI church?<br> Have you visited any other LCI church?<br> Have you heard, and plan to visit any LCI church?</p>
	<p class="transbox_content2">We are so excited to share fellowship with you and will like to hear about your experience. So sign up and share your thoughts. Happy posting and keep the excitement alive!</p>
</div>
</div>
</div>
</div>



