
<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
   <div class="container-fluid">
      <div class="navbar-text pull-left">
		<p class="footer_text">© 2015 elkure Studio.</p>
	  </div>
	</div>
</div>
